.Cheese{
    margin: 10px;
    height: 30px;
    width: 30%;
    background-color: yellow;
}

.Bacon {
    margin: 10px;
    height: 30px;
    width: 30%;
    background-color: red;
}

.Mayo {
    margin: 10px;
    height: 30px;
    width: 30%;
    background-color: green;
}